.elevation_page {
  width: 100vw;
  height: 717px;
  background-image: url("../../images/blackboard.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-family: 'Rock Salt', cursive;
    color: #f94144;
    font-size: 36px;

    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid wheat; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3s steps(56, end),
            blink-caret 1s step-end infinite;

    /* The typing effect */
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: wheat; }
    }
  }
  h3 {
    font-family: 'Gloria Hallelujah', cursive;
    color: #f9844a;
    font-size: 28px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid wheat; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3s steps(56, end),
            blink-caret 1s step-end infinite;

    /* The typing effect */
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: wheat; }
    }
  }
}