footer {
  border: 1px solid red;
  position: absolute;
  bottom: 0;
  background-color: #577590;
  color: #f9c74f;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .about {
    width: 70%;
    border: 1px solid greenyellow;
    margin: 20px;
    padding: 15px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .aboutme {
      width:500px;
      display: flex;
      flex-direction: column;
      .turkub {
        font-size: 10px;
        text-decoration: none;
        color: black;
      }
    }
    .powered {
      width: 300px;
    }
  }
  .contact_icons {
    width: 30%;
    border: 1px solid wheat;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    padding: 15px;
    font-size: 20px;
    a {
      color: #f9c74f;
    }
  }
}


