.summary_page {
  width: 100vw;
  height: 717px;
  background-image: url("../../images/wallhaven-76rome.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: #f3722c;
    margin-bottom: 20px;
    font-size: 48px;
  }
  h2 {
    color: #f8961e;
    margin:25px;
    font-size: 32px;
  }
  h4 {
    color:#277da1;
    font-size: 20px;
    margin: 15px;
  }
}